In [41]:
import pandas as pd

In [42]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

# Métodos de interpolação

In [48]:
# preenche as linhas nulas com o VALOR ENTRE PARÊNTESES
s.fillna(99)

0      0.50
1     99.00
2     99.00
3      0.52
4      0.54
5     99.00
6     99.00
7      0.59
8      0.60
9     99.00
10     0.70
dtype: float64

In [44]:
# preenche as linhas nulas com o valor da linha de CIMA
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [45]:
# preenche as linhas nulas com o valor da linha de BAIXO
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [49]:
# preenche as linhas nulas com o valor da MÉDIA DOS VALORES (não nulos)
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [50]:
# coloca um limite de quantas linhas serão interpoladas
s.fillna(method = 'ffill', limit = 1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64