# Relatório de Análise VII

## Criando Agrupamentos

Objetivo: estatística descritiva

In [34]:
import pandas as pd

In [35]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [36]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,12.86,Apartamento
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,29.63,Apartamento
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,23.08,Apartamento
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,29.17,Apartamento
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,42.86,Apartamento

In [37]:
dados['Bairro'].value_counts()

Barra da Tijuca             3863
Copacabana                  2644
Ipanema                     1764
Recreio dos Bandeirantes    1649
Leblon                      1258
                            ...
Caju                           1
Senador Camará                 1
Rio da Prata                   1
Cidade Jardim                  1
Coelho Neto                    1
Name: Bairro, Length: 152, dtype: int64

In [38]:
dados['Valor'].mean()

5046.172821405663

### 1. Agrupando linhas em função do bairro

In [39]:
# selecionando um recorte do dataframe, contendo apenas as linhas que sejam dos bairros abaixo
bairros = ['Flamengo', 'Botafogo']
selecao = dados['Bairro'].isin(bairros)
dados_bairros_times = dados[selecao]

In [40]:
# vendo quantas linhas correspondem a cada bairro
dados_bairros_times['Bairro'].value_counts()

Botafogo    873
Flamengo    714
Name: Bairro, dtype: int64

**Groupby** = irá agrupar dataframes que tenham algum parâmetro em comum

In [41]:
# com essa função, teremos dicionários em que a "chave" é o bairro e o "valor" são as linhas que tem o bairro na coluna "bairro"
grupo_bairro = dados_bairros_times.groupby('Bairro')

In [42]:
type(grupo_bairro)

pandas.core.groupby.generic.DataFrameGroupBy

In [43]:
# vemos aqui o dicionários com duas chaves: Botafogo e Flamengo
grupo_bairro.groups

{'Botafogo': [23, 48, 87, 88, 111, 119, 127, 134, 196, 200, 225, 334, 362, 415, 416, 498, 524, 526, 545, 593, 649, 685, 719, 756, 765, 822, 827, 861, 915, 924, 928, 1006, 1043, 1080, 1091, 1110, 1116, 1127, 1140, 1165, 1201, 1205, 1223, 1250, 1282, 1295, 1304, 1317, 1348, 1383, 1414, 1419, 1455, 1517, 1529, 1579, 1630, 1655, 1670, 1699, 1741, 1742, 1788, 1814, 1823, 1826, 1853, 1922, 1931, 1957, 1972, 1981, 1989, 2029, 2066, 2069, 2081, 2083, 2084, 2088, 2097, 2148, 2149, 2165, 2179, 2197, 2242, 2247, 2297, 2352, 2381, 2396, 2413, 2431, 2433, 2470, 2509, 2519, 2532, 2580, ...], 'Flamengo': [78, 138, 218, 284, 321, 347, 356, 361, 369, 393, 421, 430, 442, 477, 544, 580, 620, 669, 726, 764, 795, 855, 886, 891, 900, 943, 967, 1044, 1099, 1128, 1137, 1209, 1234, 1241, 1359, 1397, 1400, 1507, 1513, 1525, 1536, 1546, 1555, 1602, 1605, 1680, 1696, 1760, 1763, 1834, 1844, 1872, 1940, 1973, 2005, 2010, 2035, 2218, 2227, 2264, 2274, 2311, 2334, 2362, 2374, 2426, 2461, 2529, 2530, 2539, 2542, 2567, 2594, 2626, 2637, 2702, 2710, 2715, 2773, 2777, 2863, 2877, 2920, 2937, 2955, 2975, 3036, 3087, 3102, 3127, 3129, 3138, 3175, 3259, 3284, 3317, 3393, 3399, 3411, 3420, ...]}

#### 1.1 Selecionando a média de agrupamentos

In [44]:
for bairro, dados in grupo_bairro:
    print('{} -> {}'.format(bairro, dados.Valor.mean()))

Botafogo -> 8791.828178694159
Flamengo -> 4113.526610644258

In [45]:
grupo_bairro['Valor'].mean()

Bairro
Botafogo    8791.828179
Flamengo    4113.526611
Name: Valor, dtype: float64

In [46]:
dataframe_medias = grupo_bairro[['Valor', 'Condominio']].mean().round(2)

In [47]:
dataframe_medias.head(20)

            Valor  Condominio
Bairro
Botafogo  8791.83      976.28
Flamengo  4113.53     1102.15

In [48]:
#### Experimento

In [ ]:
dados.groupby