In [79]:
import pandas as pd

# Organizando Dataframes

## 1. Criando o DF

In [80]:
# criando database
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [81]:
# índice personalizado com método "list": inclui string que ele retorna lista com os caracteres
index_personalizado_l = list('321')
index_personalizado_l

['3', '2', '1']

In [82]:
index_personalizado_c = list('ZYX')
index_personalizado_c

['Z', 'Y', 'X']

In [83]:
# criando database com índice personalizado
df = pd.DataFrame(data, index_personalizado_l, index_personalizado_c)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

## 2. Ordenando o DF

In [84]:
# ordenar o índice (do menor para maior) (por padrão do método, índice das linhas)
df.sort_index(inplace = True)
df

   Z  Y  X
1  7  8  9
2  4  5  6
3  1  2  3

In [85]:
# ordenar o índice (agora das colunas)
df.sort_index(inplace = True, axis = 1)
df

   X  Y  Z
1  9  8  7
2  6  5  4
3  3  2  1

In [86]:
# ordena a linha dos índices das colunas tendo o Z na frente
# irá organizar as linhas com base nos valores da coluna Z (1 no topo das linhas)
df.sort_values(by = 'Z', inplace = True)
df

   X  Y  Z
3  3  2  1
2  6  5  4
1  9  8  7

In [87]:
# ordena a coluna dos índices das linhas tendo o 3 no topo
# irá organizar as colunas com base nos valores da linha 3 (1 na esquerda)
df.sort_values(by = '3', inplace = True, axis = 1)
df

   Z  Y  X
3  1  2  3
2  4  5  6
1  7  8  9

## 3. Outro exemplo

In [88]:
# criando database
data2 = [['Ary', 'M', 31], 
        ['Catia', 'F', 62], 
        ['Bruno', 'M', 19]]
data2

[['Ary', 'M', 31], ['Catia', 'F', 62], ['Bruno', 'M', 19]]

In [89]:
index_personalizado_c2 = ['Nome', 'Sexo', 'Idade']
index_personalizado_c2

['Nome', 'Sexo', 'Idade']

In [90]:
df2 = pd.DataFrame(data2, None, index_personalizado_c2)
df2

    Nome Sexo  Idade
0    Ary    M     31
1  Catia    F     62
2  Bruno    M     19

In [94]:
# ordenando as linhas pelos valores das colunas
df_ordenado = df2.sort_values(by = ['Sexo', 'Nome'])
df_ordenado

    Nome Sexo  Idade
1  Catia    F     62
0    Ary    M     31
2  Bruno    M     19